pipeline/parentfolder.json
{
	"name": "parentfolder",
	"properties": {
		"activities": [
			{
				"name": "Get Parentfolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_parentdata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Parentfolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Parentfolder').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "subfolder",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Parentfolder": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-03-08T17:25:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}