pipeline/rawtobronze.json
{
	"name": "rawtobronze",
	"properties": {
		"activities": [
			{
				"name": "Get Metadataraw",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_rawdata",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@pipeline().parameters.folder",
								"type": "Expression"
							},
							"subfolder": {
								"value": "@pipeline().parameters.subfolder",
								"type": "Expression"
							},
							"filename": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadataraw",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(indexOf(string(activity('Get Metadataraw').output.itemName), '.csv'), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "CopyFail",
								"errorCode": "400"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().parameters.folder,'/',pipeline().parameters.subfolder)",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@pipeline().parameters.filename",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_rawdata",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@pipeline().parameters.folder",
											"type": "Expression"
										},
										"subfolder": {
											"value": "@pipeline().parameters.subfolder",
											"type": "Expression"
										},
										"filename": {
											"value": "@pipeline().parameters.filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_bronzedata",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@pipeline().parameters.folder",
											"type": "Expression"
										},
										"subfolder": {
											"value": "@pipeline().parameters.subfolder",
											"type": "Expression"
										},
										"filename": {
											"value": "@pipeline().parameters.filename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Data Cleaning",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/CAA/data cleaning"
				},
				"linkedServiceName": {
					"referenceName": "ls_dbbricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Data Transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Data Cleaning",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/CAA/data transformation"
				},
				"linkedServiceName": {
					"referenceName": "ls_dbbricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"folder": {
				"type": "string"
			},
			"subfolder": {
				"type": "string"
			},
			"filename": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-06T20:18:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}